

Arduino/SenseDistance/.vs/__vm/.vsarduino.h
Arduino/SenseDistance/.vs/__vm/Compile.vmps.xml
Arduino/SenseDistance/.vs/__vm/Configuration.Release.vmps.xml
Arduino/SenseDistance/.vs/ProjectSettings.json
Arduino/SenseDistance/.vs/SenseDistance/v15/.suo
Arduino/SenseDistance/.vs/slnx.sqlite
Arduino/SenseDistance/.vs/VSWorkspaceState.json
Arduino/SenseDistance/CppProperties.json
*.pyc
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/ME495_Embedded_Systems_Final_Project/v15/.suo
demoEdit.avi
